<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-radius: 10px;
            border-spacing: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">E-mail</th>
        <th scope="col"><a href="/new"><button>Добавить</button></a></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}">name</td>
        <td th:text="${user.getSurname()}">surname</td>
        <td th:text="${user.getEmail()}">email</td>
        <td><a th:href="@{/users/edit?id={id}(id=${user.getId()})}"><button>Изменить</button></a></td>
        <td>
            <form th:method="DELETE" th:action="@{/users?id={id}(id=${user.getId()})}">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>